<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPSafeSwiftPointer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03CC26D1B5841FE00B3A349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03CC2771B5841FE00B3A349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03CC28F1B58470500B3A349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03CC2981B58470500B3A349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05CBEB71B66CAAA00D05F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05CBECC1B66CC0400D05F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D186761B67FE6E0058D162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D1867F1B67FE6F0058D162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D186921B67FE8E0058D162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
